:root{
    --Very-dark-blue : hsl(233, 47%, 7%); /*(main background)*/
    --Dark-desaturated-blue : hsl(244, 38%, 16%); /*(card background)*/
    --Soft-violet : hsl(277, 64%, 61%); /*(accent)*/
    --White : hsl(0, 0%, 100%); /*(main heading, stats)*/
    --Slightly-transparent-white-high : hsla(0, 0%, 100%, 0.75); /*(main paragraph)*/
    --Slightly-transparent-white : hsla(0, 0%, 100%, 0.6); /*(stat headings)*/
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 0.93rem;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    background-color: var(--Very-dark-blue);

}

.card{
    margin: 100px 200px;
    background-color: var(--Dark-desaturated-blue);
    display: flex;
}

.card .left h1{
    color: var(--White);
}

.card .left h1 span{
    color: var(--Soft-violet);
}

.card .left p{
    color: var(--Slightly-transparent-white);
}
.card .right{
   background-color: var(--Soft-violet); 
   background-image: url("../images/image-header-desktop.jpg");
}
.attribution { 
    font-size: 11px; text-align: center; 
    color: var(--Slightly-transparent-white);
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}