:root{
    --Very-dark-blue : hsl(233, 47%, 7%); /*(main background)*/
    --Dark-desaturated-blue : hsl(244, 38%, 16%); /*(card background)*/
    --Soft-violet : hsl(277, 59%, 56%); /*(accent)*/
    --White : hsl(0, 0%, 100%); /*(main heading, stats)*/
    --Slightly-transparent-white-high : hsla(0, 0%, 100%, 0.75); /*(main paragraph)*/
    --Slightly-transparent-white : hsla(0, 0%, 100%, 0.6); /*(stat headings)*/
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 0.93rem;
    font-family: inter,'Lexend Deca', sans-serif;
    font-weight: 400;
    background-color: var(--Very-dark-blue);
    padding:50px;

}

.card{
    margin: 70px 20px 40px 20px;
    background-color: var(--Dark-desaturated-blue);
    border-radius: 10px;
}

.card .picture{
    background: url(../images/image-header-mobile.jpg) 
    no-repeat center/cover;
    height: 250px;
    border-radius: 10px 10px 0 0;
}

.card .picture .overlay{
    background-color: var(--Soft-violet);
    opacity:50%;
    height: 250px;
    border-radius: 10px 10px 0 0;
}

.card .text{
    text-align: center;
    padding: 40px 30px;
}

.text h1{
    color: var(--White);
}

.text h1 span{
    color: var(--Soft-violet);
}

.text p{
    color: var(--Slightly-transparent-white-high);
    padding: 20px 5px;
    line-height:1.6;
}
.card .text ul{
    list-style-type: none;
    color: var(--Slightly-transparent-white);
    padding-top: 10px;
}
.card .text ul li{
    text-transform: uppercase;
    font-size: 0.75rem;
    padding: 15px;
}
.card .text ul li span{
    text-transform: lowercase;
    font-family: Inter;
    font-size: 1.5625rem;
    font-weight: 700;
    padding-bottom: 5px;
   color: var(--White);
   display: block;
}
.attribution { 
    font-size: 11px; text-align: center; 
    color: var(--Slightly-transparent-white-high);
    padding-bottom: 15px;
}
.attribution a { 
    color: var(--Soft-violet); 
}

@media (min-width: 992px)
{
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }
    .card{
        display: flex;
        flex-direction: row-reverse ;
        margin:100px 120px 50px 120px;
        padding: 0px;
        align-items: center;
        text-align: left;
    }
    .card:nth-child(2)
    {
        padding: 0 30px;
    }
    .card .picture{
        background: url(../images/image-header-desktop.jpg) no-repeat center/cover ;
        min-width: 50%;
        height: 360px;
        border-radius: 0px 10px 10px 0;
    }
    .card .picture .overlay{
        background-color: var(--Soft-violet);
        opacity:50%;
        height: 360px;
        border-radius: 0px 10px 10px 0;
    }
    .card .text{
        text-align: left;
        padding:50px 50px 40px 50px
    }
    .card .text h1{
        padding-right: 8;
    }
    
    .card .text p{
        color: var(--Slightly-transparent-white-high);
        padding: 20px 0px 40px 0px;
        font-size: 12px;
        margin: 0px;
        padding-right: 20px;
        line-height:1.6;
    }
    .card .text ul{
        display: flex;
        margin: 0px;
        font-size: 0.75rem;
        padding:  0px;
    }
    .card .text ul li{
        padding: 0px 40px 0px 0px;
        margin: 0px;
    }
    .card .text ul li span{
        font-size: 1.25rem;
    }
}
